{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}

{{> site-header}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post no-image no-image">

            <header class="coaching-full-header">


                <h1 class="post-full-title">Online Coaching</h1>


            </header>



            <section class="post-full-content">
                <div class="post-content">
                    <p>We are now offering online coaching. Online coaching is a great way to get a virtual assessment
                        of your game and your own uniquely prescribed curriculum with detailed video instructionals
                        tailored to suit you! </p>
                    <div class="product">
                        <img id="product-image" src="https://www.execbjjonline.com/content/images/size/w600/2020/08/back-attack.jpg"
                            alt="back">
                        <div class="product-description">
                            <h3>Online Coaching - Consultation, Curriculum & Video Tutorials</h3>
                            <h4>€115.00</h4>
                            <p>Improve your Jiu Jitsu today with your very own online coaching from Brazilian Jiu Jitsu
                                Black Belt, Sam Mc Nally.<br><br>
                                This is like purchasing an instructional, <strong>but the techniques are curated
                                    specifically for you and your style of Jiu Jitsu.</strong><br><br>
                                Sam is here to provide you with an in-depth analysis of your game and a roadmap on how
                                to
                                get to where you want to be, with all of this information accessible from the comfort of
                                your own home.</p>
                            <div>
                                <!--kg-card-begin: html-->
                                <link rel="stylesheet"
                                    href="https://cdn.snipcart.com/themes/v3.0.26/default/snipcart.css">
                                <script async=""
                                    src="https://cdn.snipcart.com/themes/v3.0.26/default/snipcart.js"></script>
                                <div id="snipcart" data-api-key="ODMwOWQ5MzMtNDUzMC00MGZmLTg2MjctYzdiYjY1MDFjYmQ3NjM3NDI0MzMxOTI4MTg4MTcy" data-currency="eur" hidden></div>
                                    <!---->
                                </div>
                                <!--kg-card-end: html-->
                                <!--kg-card-begin: html--><button class="snipcart-add-item primary" id="cart-button"
                                    data-item-id="online-coaching" data-item-price="{&quot;eur&quot;:95.04}"
                                    data-item-url="https://www.execbjjonline.com/online-coaching/"
                                    data-item-description="Upon completing your purchase we will contact you to arrange your consultation!"
                                    data-item-image="/content/images/size/w600/2020/08/back-attack.jpg"
                                    data-item-name="Online Coaching - Consultation, Curriculum & Video Tutorials" data-item-custom1-name="Gift"
                                    data-item-custom1-type="checkbox"
                                    data-item-taxable="true"
                                    data-item-taxes="VAT"
                                    data-item-has-taxes-included="true"
                                    data-item-shippable="false">
                                    Add to cart
                                </button>
                                <!--kg-card-end: html-->
                                <p>*Looking to purchase this for a friend or loved one? Be sure to click the “gift”
                                    option when completing your purchase!</p>
                            </div>
                        </div>
                    </div>
                    <h2 id="how-does-it-work">How does it work?</h2>
                    <div class="step">
                        <img src="https://www.execbjjonline.com/content/images/2020/12/image-3.png" alt=""
                            srcset="https://www.execbjjonline.com/content/images/size/w600/2020/12/image-3.png 600w, https://www.execbjjonline.com/content/images/2020/12/image-3.png 745w"
                            sizes="(min-width: 720px) 720px" class="step-image">
                        <div class="step-description">
                            <h3 id="step-1">Step 1</h3>
                            <p>Consultation</p>
                            <p>We begin with a 30 minute live call to assess your strengths and weaknesses while
                                determining
                                what
                                you want to work on. </p>
                            <p> In this video call you can share any footage, questions or thoughts
                                you
                                may
                                have!</p>
                        </div>
                    </div>
                    <hr>
                    <div class="step-2">
                        <img class="step-image" src="https://www.execbjjonline.com/content/images/2020/12/image-6.png"
                            alt="" srcset="https://www.execbjjonline.com/content/images/2020/12/image-6.png 600w">
                        <div class="step-2-description">
                            <h3 id="step-2">Step 2</h3>
                            <p>Personalised Curriculum</p>
                            <p>From here we put together a personalised curriculum just for you. <br /><br /> You will
                                receive a roadmap of
                                techniques and concepts designed to equip you with the knowledge you need to progress in
                                the
                                areas you want to excel in.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="step">
                        <div class="video-container"><iframe width="560" height="315"
                                src="https://www.youtube-nocookie.com/embed/yS25rXTykyA" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe></div>
                        <div class="step-description">
                            <h3 id="step-3">Step 3</h3>
                            <p>Video Tutorials</p>
                            <p>Your curriculum will be accompanied by a series of video tutorials.<br><br>Your videos
                                will be
                                clear, concise and tailored to suit your needs.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-container">
                    <form class="contact-form" action="https://formspree.io/xeqrnzdj" method="post">
                        <h2>Any Questions?</h2>
                        <p>Feel free to contact us through the form below!</p>
                        <label for="full-name">Name</label>
                        <input type="text" name="name" id="full-name" placeholder="First and Last" required>
                        <label for="email-address">Email Address</label>
                        <input type="email" name="_replyto" id="email-address" placeholder="Your email address"
                            required>
                        <label for="message">Message</label>
                        <textarea rows="5" name="message" id="message" placeholder="Your message" required></textarea>
                        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                        <input type="submit" value="Submit" id="submit-button">
                    </form>
                    </div>
                </div>
            </section>



        </article>

    </div>
</main>